@inherits LayoutComponentBase
@using Radzen
@using Radzen.Blazor;

<RadzenLayout>

    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal"
                     AlignItems="AlignItems.Center"
                     
                     Class="rz-px-3 rz-py-2 rz-bg-primary rz-text-white">
            
            <RadzenSidebarToggle Click="@ToggleSidebar" Style="color:white;" />
            <RadzenIcon Icon="code"/>
            <RadzenLabel Text="BioAnalyzer"
                         
                         Style="font-size:1.3rem; font-weight:600; color:black;"  />

            <div class="rz-ml-auto">
                <RadzenLink Path="https://learn.microsoft.com/aspnet/core/" 
                            Target="_blank"
                            Text="About"
                            Style="color:white; text-decoration:none;" />
            </div>
        </RadzenStack>
    </RadzenHeader>

    <RadzenSidebar @bind="@sidebarExpanded" 
                   Breakpoint="Breakpoint.MdDown"
                   Style="width:250px;">
        <NavMenu />
    </RadzenSidebar>

    <RadzenBody>
        <div class="rz-p-4">
            <article class="content px-4">
                @Body
            </article>
        </div>
    </RadzenBody>

    <RadzenFooter Class="rz-bg-primary rz-text-white rz-py-2 rz-text-center">
        <span>© 2025 - ERPSystem</span>
    </RadzenFooter>

</RadzenLayout>

@code {
    private bool sidebarExpanded = true;

    private void ToggleSidebar()
    {
        sidebarExpanded = !sidebarExpanded;
    }
}